.createHeading {
    padding: 10px 0 10px 0;
}

.createSurveyMain {
    margin: auto;
    min-height: 45vh;
    width: 49vw;
    border: solid;
    border-width: 1.5px;
    border-radius: 10px;
}

.createSurveyForm {
    display: flex;
    flex-direction: column;
}


#titleDiv, #optionsDiv, #descriptionDiv, #quesDiv {
    display: flex;
    flex-direction: column;
    margin: 1rem auto 0 auto;
}

#titleInput ,.optionsInput, #descriptionInput, .quesInput {
    width: 35vw;
    padding: 10px;
    border-radius: 5px;
}

.questionDiv {
    display: flex;
    flex-direction: column;
    min-height: 20vh;
    width: 45vw;
    margin: 3rem auto 1rem auto;
}

.insideQuestionDiv {
    display: flex;
    flex-direction: column;
    min-height: 24vh;
    width: 45vw;
    border: solid;
    border-width: 1.5px;
    border-radius: 10px;
    margin-bottom: 20px;
}

#plusIcon {
    align-self: center;
}

.questionList {
    margin: auto;
    padding: 0;
    margin: 0;
}

.shrinkAnchorPlus {
    height: 30px;
    width: 30px;
    margin-bottom: 3px;
    align-self: flex-start;
}

.shrinkAnchorMinus {
    height: 30px;
    width: 30px;
    align-self: flex-end;
    position: absolute;
}
