.survey-list-main {
    padding: 0 0.5% 0.5% 0.5%;
    margin: 0.65rem auto 0 auto;
    min-height: 20vh;
    width: 49vw;
    border: solid;
    border-width: 1.5px;
    border-radius: 10px;
}

.buttonList {
    list-style: none;
    text-align: center;
}

.survListButt {
    width: 88%;
    margin: 1% 0.5% 0 0;
}

.deleteButtons {
    margin: 1% 0 0 0;
}