h1, h2 {
    text-align: center;
    margin: 0;
}

#signupHeading {
    padding-top: 10px;
}

.signupForm {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
    padding-top: 2em;
    text-align: center;
}

.signupInput {
    padding: 10px;
    margin: 0.5em;
}

.nameSection {
    display: flex;
    justify-content: space-between;
}

#firstName {
    width: 45%;
}

#lastName {
    width: 45%;
}