.statsStyle {
    text-align: center;
    list-style: none;
    padding: 0 0.5% 0.5% 0.5%;
    margin: auto;
    min-width: 50.62em;
    width: 49vw;
    border: solid;
    border-width: 1.5px;
    border-radius: 10px;
}

.statsTitle {
    padding: 10px 0 10px 0;
}

.buttonStyle {
    margin-top: 2em;
    width: 100%;
}